.header {
    display: flex;
    padding: 40px;
    justify-content: center;
    background-color: #E8C4C4;
    border-bottom: 1px solid #e8c4c4ac;
    box-shadow: 0px 5px 10px #ce777776;
}

.header-title {
    font-size: 80px;
    
}