.view-deck-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deck-info {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid black
}

.deck-info > p {
    padding: 10px;
}


.deck-controls {
    display: flex;
    margin-bottom: 10px;
}
.deck-controls > button {
    margin: 0px 10px 0px 0px;
    padding: 5px;
    border: 1px solid black;
    background: none;
    transition: 800ms;
}
.deck-controls > button:hover {
    cursor: pointer;
    background-color: grey;
}

.deck-link {
    margin: 0px 10px 0px 0px;
    padding: 5px;
    text-decoration: none;
    border: 1px solid black;
    transition: 800ms;
}
.deck-link:hover {
    background-color: grey;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    width: 80%;
    border: 1px solid black;
}

.card-row > div > h4 {
    text-align: center;
}
.card-row > h5 {
    margin: 0;
}

.card-content {
    margin: 20px;
}

@media (800px <= width){
    .card-container {
        width: 60%;
    }
}
