.breadcrumb-container {
    display: flex;
    align-items: center;
    margin: 30px 0px 20px 0px;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    align-self: center;
    border-bottom: 2px solid #2B3A55;
    box-shadow: 0px 1px 1px #2b3a558c;
    transition: 2000ms;
}

.breadcrumb-link {
    margin: 0px 5px 0px 5px;
    text-decoration: none;
    font-size: 14px;
    color: #2B3A55;
    transition: 800ms;
}

.breadcrumb-pagename {
    margin: 0px 5px 0px 5px;
    font-size: 14px;
    color: #2B3A55;
}

@keyframes bounce {
    50% {
        transform: scale(.95, 1.1);
        translate: 0% -10%;
    }
    
    100% {
        transform: scale(1, 1);
    }
    
}

.breadcrumb-link:hover {
    animation: bounce 2s ease-in-out infinite;
    color: #CE7777;
    text-decoration: 1px solid underline #CE7777;
}

.breadcrumb-pagename{
    margin-left: 5px;
}